@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&display=swap');

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden !important;
}

.fontColor{
  color: #1E3699 !important;
  margin-left: auto;
}

.barText{
  color: #1E3699 !important;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.barBorderClr{
  background-color: #BE2227 !important;
  color: #FFF !important;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

@media (max-width:360px){
  .barBorderClr{
    margin-right: 0 !important; 
  }
  .test {
    display: none !important;
  }
  .test1{
    padding-left: 0 !important;
  }
  .newGames{
    padding: 0 !important;
  }
  .newGames h1{
    font-size: 24px !important;
  }
  .newGames span{
    display:  none !important;
  }
}


.test1{
  text-align: start;
  margin-top: auto !important;
}

.test{
  display: flex;
  justify-content: end;
}

.test1 h3{
  color: #BE2227;
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.test1 p {
  color: #1E3699;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}

.test2 {
  background: linear-gradient(270deg, #BE2227 0.09%, #1E3699 76.65%);

}

.ahoy{
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}

.number{
  text-align: center;
}

.number h1{
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.number h3{
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}

.newGames h1{
  color: #1E3699;
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.newGames {
  display: flex !important;
  justify-content: center !important;
}